notebook

joblib
keras
matplotlib
numpy
pandas
pandas-stubs
scikit-learn
seaborn
tensorflow

nltk
transformers

datasets
evaluate
hf_xet
huggingface-hub
ipywidgets
rouge_score
sentencepiece
tf-keras
torch
